html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(105, 100, 100);
  z-index: 1;
}

.tsparticles-canvas-el{
  position: fixed;
  height: 100vh;
  width: 100vw;
}