.main {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1{
  font-size: 1.5em;
  margin: 10vh auto;
}

.repoContainer{
  width: 40%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
}

.card{
  width: 248;
  margin: 10px auto;
}

@media only screen and (max-width: 468px) {
  .main h1{
    font-size: 1em;
    margin: 3vh auto;
  }

  .repoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}